.spellbook-list-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  
  background-image: url('/public/img/paper-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.spellbook-list-spell-book {
  position: relative;
  background-color: #4B0082;
  height: 500px;
  width: 400px;
  overflow: hidden; 
}

.spellbook-list-delete-btn {
  position: absolute;
  z-index: 60;
  cursor: pointer;
}

.spellbook-list-inspect-btn {
  position: absolute;
  bottom: 0;
  left: 170px;
  z-index: 60;
  cursor: pointer;
}

.spell-book-inspect-container {
  position: absolute; 
  top: 0; 
  left: 0;
  height: 500px;
  width: 400px;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s;
  transform: translateY(0%);
}

.hide-spell-book-inspect-container {
  transform: translateY(100%);
}