.navbar {
  z-index: 100;
  top: 0;
  background-color: rgb(20, 20, 20);
  color: white;
  height: 80px;
}

.spellbook-logo-container {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 20px;
}

.spellbook-logo {
  height: 70px;
}

.ham-menu-icon {
  position: absolute;
  top: 26px;
  right: 30px;
  height: 30px;
  cursor: pointer;
}