.sidebar {
  z-index: 100;
  background-color:  rgb(20, 20, 20);
  color: white;
  font-size: 15px;
  width: 200px;
  height: 100%;

  position: absolute;
  top: 80px;
  right: 0px;

  display: flex;
  flex-direction: column;
  gap: 30px;

  transition: all 1s;

  transform: translateX(0%);
}

.hide-sidebar {
  transform: translateX(100%);
}

.sidebar-pages {
  margin-top: 20px;
  margin-left: 20px;
}

.sidebar-links {
  color: white;
  text-decoration: none;
}