.sidebar {
  z-index: 1000;
  background-color:  rgb(20, 20, 20);
  color: white;
  font-size: 15px;
  width: 200px;
  height: 100%;

  position: absolute;
  top: 80px;
  right: 0px;

  display: flex;
  flex-direction: column;
  gap: 60px;

  transition: all 1s;

  transform: translateX(0%);
}

.hide-sidebar {
  transform: translateX(100%);
}

.sidebar-pages {
  margin-top: 20px;
  margin-left: 20px;
  transition: color 0.1s;
}

.sidebar-pages:hover {
  color: rgb(240, 201, 104);
}

.sidebar-links {
  font-family: "TiamatCondensedSC", Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-size: 25px;
  color: white;
  text-decoration: none;
}