.edit-spell-book-main-container {
  position: fixed;
  top:80px;
  bottom: 20px;
  width: 100%;
  z-index: 100;
  background-color: rgb(255, 255, 246);

  display: grid;
  grid-template-columns: 40% 60%;

  transition: transform 1s;

  transform: translateY(0%);
}

.hide-spell-book-inspect-container {
  transform: translateY(100%)
}

.edit-book-filters-list-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-book-back-btn {
  position: absolute;
  top: 10px;
  left: 10px;

  cursor: pointer;
}

.edit-book-filters-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 95%;
}

.edit-book-input-filters-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.edit-book-spell-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-book-info-indicators {
  display: grid;
  grid-template-columns: 50px 1fr 50px 10px;
  gap: 40px;
  width: 100%;

  margin: 20px;
  padding-left: 40px;

  font-weight: bold;
  font-size: 20px;
}

.edit-book-spell-list {
  overflow-y: auto;
  scrollbar-width: none;
  max-height: calc(100vh - 626px);
  width: 100%;
}

.edit-book-spell-card-container {
  padding: 10px 20px;
  background-color: rgb(255, 255, 250);
  border: 1.5px solid #4B0082;
  margin-bottom: 10px;
}

.edit-book-spell-card-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  gap: 40px;

  align-items: center;
}

.edit-book-school-materials-container {
  display: flex;
  gap: 3px;

  font-size: 14px;
  color: rgb(160, 160, 160);
}

.add-edit-spell-btn {
  cursor: pointer;
}

/* styling of the book */

.edit-book-selected-spells-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-book-cover {
  margin: auto;
  background-color: #4B0082;
  max-height: calc(100vh - 330px);
  width: 80%;
  padding: 20px;
}

.edit-book-pages {
  margin: auto;

  background-color: beige;
  height: 100%;
  width: 100%;

  overflow-y: auto;
  scrollbar-width: none;
}

.edit-book-lvl-spells-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 95%;

  margin-bottom: 40px;
  margin-left: 15px;
}

.complete-book-btn {
  position: absolute;
  bottom: 40px;

  font-family: 'Sedan SC', 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: bold;

  background-color: black;
  color: gold;
  border: none;
  padding: 10px 20px;

  cursor: pointer;
}